.cloud-icon {
    display: block;}
.cloud-sync.sync-mode {
    animation: fly 2s infinite alternate;}
    .cloud-sync.sync-mode .cloud-icon {
        display: none;}
    .cloud-sync.sync-mode .sync-icon {
        display: block;}
.cloud-sync {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 20px;
    background-color: #ED1C24;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}

@keyframes fly {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px);
    }}
.sync-icon {
    display: none;
    animation: spin 2s linear infinite;}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }}
.sync-notif {
    position: fixed;
    z-index: 1001;
    bottom: 85px;
    right: 25px;
    background: linear-gradient(85deg, #A6292E 0%, #ED1C24 100%);
    font-weight: 600;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    font-size: 14px;}
.sync-notif.show {
    opacity: 1;
    visibility: visible;}