.navbar {
    display: flex;
    height: var(--nav-height);
    padding: 0;
    background-color: #ffffff;}
.section-left {
    display: flex;}
.section-right {
    display: flex;
    cursor: pointer;
    margin: 0 1rem;}
.logoPolytron {
    display: flex;
    justify-content: center;
    align-items: center;}
.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    height: 100%;
    cursor: pointer;}
.menu-button {
    font-size: 1.25rem; 
    width: 30px;
    color: #212529;
    transition: all 0.3s;
    transform: rotate(90deg)}
.dropdown-toggle{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: #212529;
    font-weight: 500;
    font-size: 0.875rem;}
    .dropdown-toggle::after{
        display: inline-flex;
        vertical-align: 0.15em;
        margin-top: 0.1em;}
    .dropdown-toggle:hover{
        color: #808080;}
.dropdown-menu {
    display: block;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-top: 2.5rem;
    right: 0.1875rem;
    opacity: 0;
    max-width: 25%;
    margin-top: -100rem;
    transition: all 0.3s;}
    .dropdown-menu, .header {
        font-size: 13px;
        font-weight: bold;
        color: #666666;
        min-width: 270px;
        background-color: #F5F6F8;
        text-align: center;
        -webkit-border-radius: 0.1875rem;
        -moz-border-radius: 0.1875rem;
        -ms-border-radius: 0.1875rem;
        border-radius: 0.1875rem;}
        .dropdown-menu.show{
            opacity: 1;}
        .dropdown-menu.active{
            right: 0;
            left: unset;}
.header {
    padding: 0.75rem 0.5rem;}
.title{
    font-size: 11px;
    font-weight: 400;}
.detail-sidebar{
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1;
    transition: all 1s;}
.footer{
    padding: 0.5rem;}
.line-break{
    border-bottom: 0.0313rem solid #dddddd;
    margin: 0.375rem 1.875rem;}
.btn-block{
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 0.75rem;
    padding: 0.25rem 2rem;
    border: 1px solid #B8B8B8;}
    .btn-block:focus{
        box-shadow: 0px 4px 12px 0px rgba(42, 42, 42, 0.25)!important;
        outline: none!important;}
    .btn-block:hover{
        background: linear-gradient(85deg, #eeeded 0%, #ffffff 100%);}
.rotate{
    transform: rotate(0deg);}
#sidebarCollapse2{
    margin-left: 1.25rem;}
/* Breakpoint Tablet Vie */
@media (max-width: 767.98px){
    #sidebarCollapse2, #sidebarBridge{
        display: flex;}
    #acc-min{
        display: block;}
    #acc-max{
        display: none;}
    .offcanvas-panel {
        position: fixed;
        bottom: -100vh;
        right: 0;
        width: calc(100% - 64px);
        background-color: #ffffff;
        border-top: 1px solid #E2E9EF;  
        height: calc(70vh - var(--nav-height));
        z-index: 999;
        transition: all 0.3s;
        box-shadow: 0 -0.125rem 0.25rem 0 rgba(0, 0, 0, 0.075);}
        .offcanvas-panel.open {
            bottom: 0;}
    .offcanvas-wrapper {
        height: calc(70vh - var(--nav-height));
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0.75rem;}
    .info-text{
        transition: all 0.3s;
        transform: translate(-70%, 5%);}}
@media (min-width: 768px){
    .not-minimal-resolution{
        display: flex!important;}
    #sidebarCollapse2, #sidebarBridge{
        display: none;}
    #acc-max{
        display: flex;}
    #acc-min{
        display: none;}
    .offcanvas-panel {
        position: fixed;
        top: 56px;
        right: -400px;
        width: 400px;
        height: 100vh;
        background-color: #ffffff;
        z-index: 999;
        border-left: 1px solid #E2E9EF;
        transition: all 0.3s;
        box-shadow: -0.125rem 0 0.25rem 0 rgba(0, 0, 0, 0.075);}
    .offcanvas-panel.open {
        right: 0;}
    #content:has(.offcanvas-panel.open){
        padding-right: calc(20px + 400px); /* padding content + lebar offcanvas */
        -moz-padding-end: calc(20px + 400px);}
    .offcanvas-wrapper {
        height: calc(100vh - var(--nav-height));
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0.75rem;}
    .info-text{
        transition: all 0.3s;
        transform: translate(-100%, 5%);}
    .header {
        display: none!important;}
    .dropdown-menu{
        min-width: 0;
        padding: 0;}}
.change-color{
    fill: #ED1C24;}
#nav-icon1, #nav-icon2 {
    width: 1.4rem;
    height: 2.5rem;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;}
#nav-icon1 span{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #3E3E3E;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;}
#nav-icon1 span:nth-child(1) {
    top: 12px;}
#nav-icon1 span:nth-child(2) {
    top: 18px;}
#nav-icon1 span:nth-child(3) {
    top: 24px;}
#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);}
#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;}
#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);}
.name-navbar{
    font-weight: 700;}
.role-navbar{
    font-size: 0.75rem;
    font-weight: 400;}
