@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;}
.body-content-login {
    height: calc(100vh - 36px);
    width: 100%;
    padding: 1.5rem 1.75rem;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    right: 0;
    overflow: auto;
    background-color: #f8f8f8;}
h2{
    margin: 0;
    font-size: 1.375rem;
    font-weight: 700;}
h6{
    margin: 0;
    font-size: 0.875rem;
    font-weight: 600;}
.login-container {
    display: flex;
    width: 100%;
    height: 100%;}
.login-container-card {
    width: 100%;
    margin: auto;
    padding: 20vh 0;
    max-width: 25rem;
    display: flex;
    border-radius: 0.5rem;}
.form-layer {
    display: flex;
    flex-direction: column;
    gap: 1rem;}
.section-form {
    width: 100%;
    border-radius: 0.5rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.50);
    overflow: hidden;}
.form-login {
    display: flex;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding: 2rem 1.5rem;
    gap: 1rem;}
    .form-login img {
        max-width: 11.5rem;}
.button-modal{
    width: 100%;
    padding: 0.625rem;
    border: none;
    border-radius: 0.25rem;
    background: linear-gradient(85deg, #A6292E 0%, #ED1C24 100%);
    font-weight: 500;}
    .button-modal:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), linear-gradient(85deg, #A6292E 0%, #ED1C24 100%);}
    .button-modal:focus{
        box-shadow: unset!important;
        outline: none!important;}
    .button-modal:active{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(85deg, #A6292E 0%, #ED1C24 100%);}
i.fa-circle-notch {
    display: none;}
i.btn-loading {
    margin-left: 0.5rem;
    opacity: 1;
    width: auto;
    height: auto;
    display: inline-flex;
    animation: spin 1.2s ease-in-out infinite;}
@keyframes spin {
100%{
    transform: rotate(360deg);}}
.pin-container {
    text-align: center;
    background: white;}
.pin-inputs {
    display: flex;
    justify-content: center;
    margin: 20px 0;}
.pin {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;}
    .pin:focus {
        border-color: #3E3E3E;
        box-shadow: none;}
.input-detail-info{
    display: flex;}
    .input-detail-info h6{
        display: flex;
        justify-content: center;
        align-items: center;}
#error-box{
    display: flex;
    margin-top: 1rem;
    width: 100%;
    justify-content: start;
    align-items: center;
    border: 1px solid rgba(223, 0, 0, 0.35);
    border-radius: 5px;
    padding: 12px 22px;}
.image-container{
    align-content: center;
    text-align: center;}
.information-applicant{
    display: flex;
    text-align: center;
    margin-bottom: 1rem;
    justify-content: center;}
    .information-applicant h4{
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0;}
    .information-applicant h5{
        font-size: 1.125rem;
        margin: 0;}
@media (max-width: 379.98px){
    .image-container img{
        width: 100%;}}
@media (max-width: 558.98px){
    .pin{
        width: 35px;
        height: 35px;
        font-size: 1.25rem;
        margin: 0 5px;}}
@media (max-width: 433.98px){
    .pin{
        width: 33px;
        height: 33px;
        font-size: 1rem;
        margin: 0 2.5px;}}
@media (max-width: 379.98px){
    .pin-inputs{
        overflow-x: scroll;
        justify-content: start;
        align-items: center;}}
@media (max-width: 514.98px){
    .information-applicant h4{
        font-size: 1rem;}
    .pin-container h6{
        font-size: 0.75rem;}
    #login_form{
        font-size: 0.75rem;}}