.detail-sidebar{
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1;
    transition: all 1s;}
.wrapper {
    display: flex;
    width: 100%;}
.sidebar {
    width: 250px;
    border-right: 1px solid #E2E9EF;
    padding: 1.5rem 0;
    position: fixed;
    top: 56px;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #FFFFFF;
    transition: all 0.3s;}
.sidebar-active {
    width: 5px;
    margin-right: 1rem;
    background: unset;
    height: 39px;}
.sidebar-active.active {
    background: linear-gradient(to bottom, #ED1C24, #A6292E);}
.sidebar.active {
    margin-left: -250px;}
.sidebar .list-unstyled li .sidebar-item {
    color: #7E7E7E;
    font-size: 0.875rem;
    font-weight: 600;
    padding-right: 1rem;
    height: 39px;
    display: flex;
    align-items: center;
    border-radius: 0.25rem;}
.sidebar .list-unstyled li a:hover {
    background-color: #E3E3E4;}
.sidebar .list-unstyled li.active > a {
    background: #FFF1F2;
    color: #881418;}
.sidebar-item, .sidebar-item:hover, .sidebar-item:focus {
    white-space: nowrap;
    display: inline-block;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;}
.container-icon{
    margin-right: 0.5rem;}
    .container-icon i{
        width: 24px;}
.sidebar-item .active :after{
    top: 5px;
    right: 0;
    width: 13px;
    content: 'a';
    height: 29px;
    position: absolute;
    display: inline-block;
    background-position: 0 0;
    background-size: 13px 29px;
    background-repeat: no-repeat;
    background-image: url('/img/sidebar_arrow.png');}
.list-unstyled{
    display: flex;
    flex-direction: column;
    gap: 8px;}
.list-unstyled .list-unstyled a {
    font-size: 0.9em !important;
    padding-left: 30px !important;}
@media (max-width: 767.98px){
    .sidebar{
        width: 64px!important;}
    #content {
        width: calc(100% - 64px)!important;}
        #content.active {
            width: 100%!important;}
    .detail-sidebar{
        opacity: 0;
        margin-left: -450px;}
    .not-minimal-resolution{
        display: none!important;}}