.sidebar {
    width: 300px;
    position: fixed;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #F4F4F4;
    transition: all 0.3s;
    box-shadow: -7px 0px 20px 0.1px #aeaeae}
.sidebar-logo-image-container{
    display: flex;
    justify-content: center;
    padding: 28px 0;}
    .sidebar-logo-image-container img {
        transition: all 0.3s;
        height: 28px;}
.sidebar-step-container{
    display: flex;
    flex-direction: column;
    padding: 1rem 0rem;
    gap: 0.5rem;
    height: calc(100vh - 88px);
    overflow-y: auto;}
.individual-step-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;}
.individual-indicator-step{
    height: 35px;
    width: 35px;
    background-color: #E2E2E2;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.8s;
    border-radius: 100px;}
    .individual-indicator-step:hover{
        cursor: pointer;
        box-shadow: 0px 0px 10px 0.1px #AEAEAE;}
    .individual-indicator-step span{
        color: #8A8A8A;
        font-weight: 600;}
.individual-indicator-step.active{
    background-color: #ED1C24;}
    .individual-indicator-step.active span{
        font-weight: 800;
        color: white;}
.individual-indicator-step.on-progress{
    background-color: #F9D107;}
    .individual-indicator-step.on-progress span{
        font-weight: 800;
        color: white;}
.individual-indicator-step.completed{
    background-color: #84C40D;}
    .individual-indicator-step.completed span {
        visibility: hidden;
        margin: 0 -16px 0 -5px;}
    .individual-indicator-step.completed span::before {
        color: white;
        content: '\2713';
        visibility: visible;
        font-size: 1.25rem;
        text-align: center;}
.individual-step-text{
    color: #8A8A8A;
    width: 175px;
    height: 50px;
    font-weight: 500;
    align-content: center;
    transition: all 0.8s;}
    .individual-step-text:hover{
        cursor: pointer;
        text-shadow: 0px 0px 5px #AEAEAE;}
.separator-step-text{
    color: #8A8A8A;
    width: 175px;
    height: 50px;
    font-weight: 500;
    align-content: center;}
.individual-step-text.active{
    font-weight: 600;
    color: black;}
.separator-step-indicator-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;}
.separator-step-indicator{
    display: flex;
    height: 36px;
    width: 4px;
    background-color: #9B9B9B;
    opacity: 0.2;}
@media (max-width: 1199.98px) {
    .sidebar {
        width: 100%;
        height: 175px;}
    .sidebar-step-container{
        flex-direction: row;
        height: calc(160px - 52px);
        padding: 0 10px;}
    .sidebar-logo-image-container{
        justify-content: start;
        padding: 28px 0 14px 28px;}
        .sidebar-logo-image-container img {
            height: 24px;}
    .individual-step-container{
        gap: 0.5rem;
        flex-direction: column;}
    .individual-indicator-step{
        height: 30px;
        width: 30px;}
    .individual-step-text{
        text-align: center;
        width: 150px;
        height: 50px;}
    .separator-step-text{
        width: 40px;}
    .separator-step-indicator-container{
        width: 40px;
        gap: 0.5rem;
        flex-direction: column;}
        .separator-step-indicator-container .individual-step-text{
            width: 36px;}
    .separator-step-indicator{
        height: 4px;
        width: 36px;}}
@media (max-width: 575.98px) {
    .sidebar {
        height: 135px;}
    .sidebar-logo-image-container{
        padding: 20px 0 12px 20px;}
        .sidebar-logo-image-container img {
            height: 20px;}
    .sidebar-step-container{
        flex-direction: row;
        height: calc(135px - 52px);
        padding: 0 10px;}
    .individual-indicator-step{
        height: 25px;
        width: 25px;}
    .individual-step-text {
        height: 40px;
        font-size: 0.75rem;}
    .separator-step-text{
        width: 40px;
        height: 40px;}}