<footer>
    <span class="footer-information <% if (user.role == "Member") { %> active <% } %>">
        © <script>document.write(new Date().getFullYear())</script> 
        Polytron v.<%= version %>
    </span>
</footer>