<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
	<!-- Select2 -->
	<link rel="stylesheet" href="/css/select2.min.css">
	<!-- DataTables -->
	<link rel="stylesheet" href="/css/datatables.min.css">
	<!-- Pikaday -->
	<link rel="stylesheet" href="/css/pikaday.css">
	<!-- Bootoast -->
	<link rel="stylesheet" href="/css/bootoast.min.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/style_panel.css">
	<link rel="stylesheet" href="/css/style_navbar_panel.css">
	<link rel="stylesheet" href="/css/style_sidebar_panel.css">
	<link rel="stylesheet" href="/css/style_footer_panel.css">
	<title><%= title %></title>
</head>
<body>