<div class="modal fade" id="modal_panel_user_edit" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title pull-left" id="exampleModalLabel">Edit User</h2>
                <button type="button" class="close button-icon" data-bs-dismiss="modal" aria-label="Close">
                    <img src="/image/close.svg" alt="">
                </button>
            </div>
            <form id="panel_user_form_edit">
                <div class="modal-body">
                    <div class="form-group">
                        <h6>NIK</h6>
                        <div class="input-group" style="display: flex; flex-direction: column;">
                            <input style="width: 100%" type="number" class="form-control" id="edit_panel_user_nik" name="edit_panel_user_nik" disabled>
                            <input type="number" class="form-control hidden" id="edit_panel_nik" name="edit_panel_nik" hidden>
                        </div>
                    </div>    
                    <div class="form-group mt-3">
                        <h6>Nama</h6>
                        <div class="input-group" style="display: flex; flex-direction: column;">
                            <input style="width: 100%" type="text" class="form-control" id="edit_panel_user_name_data" name="edit_panel_user_name_data" disabled>
                        </div>
                    </div>             
                </div>
                <div style="margin-top: 1.25rem;" class="edit_panel_role_container">
                    <div class="modal-body">
                        <h6>Role</h6>
                        <div style="display: flex; gap: 1rem;" id="edit_panel_role_department_data">
                            <div class="input-radio">
                                <input type="radio" id="edit_role_1" name="edit_panel_user_role" value="2" checked/>
                                <label for="role_1">Admin</label>
                            </div>
                            <div class="input-radio">
                                <input type="radio" id="edit_role_2" name="edit_panel_user_role" value="3"/>
                                <label for="role_2">Member</label>
                            </div>
                        </div>
                    </div>
                    <div id="edit_error_box" class="error-box" style="display: none; margin-top: 1rem;">
                        <div style="display: flex;">
                            <img src="/image/error-x.svg" alt="" style="margin-right:15px;">
                        </div>
                        <div>
                            <p style="margin-top: auto;margin-bottom: auto; font-size: 11px; color: #ED1C24; font-weight: 500;" id="edit_error_message">Error</p>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" id="edit_panel_user" class="btn btn-primary btn-add-table"><i id="update_panel_user" class="fas fa-circle-notch"></i>Simpan</button>
            </div>
        </div>
    </div>
</div>
