<!doctype html>
<html lang="en" style="height:100%">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/image/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/css/style_system.css">
        <title><%= title %></title>
    </head>
    <body>
        <nav class="shadow-sm">
            <img src="/image/logo_ldp.svg" alt="">
        </nav>
        <div class="container body-content">
            <div class="url-not-found-img-container">
                <img src="/image/404.png" alt="">
            </div>
            <div class="url-not-found-text-container">
                <h1>Maaf</h1>
                <h5>Laman tidak dapat ditemukan</h5>
            </div>
        </div>
    </body>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/fontawesome/js/all.min.js"></script>
</html>